*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;

}
::selection{
    background: #1b1b1b;
    color: #ebcbcb;
}

.navbar{
    width: 100%;
    height: 60px;
    position:fixed;
    top: 0;
    left: 0;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:0 2vw;
    background:white;
    z-index: 9;
}
.links-container{
    display:flex;
    list-style: none;
    
}
.link{
    padding: 10px;
    margin-left: 10px;
    text-shadow: 0 0 8px rgb(251, 232, 24);
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-size:20px;
    font-weight: bold;
}
.link:hover,.link:focus,.link:active{
    text-shadow:0 0 0 rgb(155, 25, 25);
    -webkit-transform: scale(2);
    transform:scale(0.1);
}  

.header{
    margin-top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    background: url(../images/image4.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

.heading{
    color:rgb(246, 224, 62);
    text-transform: capitalize;
    font-size: 100px;
    font-style:italic;
    line-height: 60px;
    margin-bottom: 70px;
    text-shadow:0 0 3px #360c41;
}

.heading .small{
    display: block;
    font-size: 50px;
    padding-bottom:30px;
    padding-top: 50px;
}

.heading .no-fill{
    font-style: italic;
    color:lightcyan;
    -webkit-text-stroke: 2px #360c41;
    font-size: 70px;
}

.btn{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    background: rgb(231, 146, 223);
    color: #130101ec;
    font-size:17px;
    text-decoration: none;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 10px black;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property:boxshadow,transform;
    transition-property: boxshadow,transform;
}
.btn:hover,.btn:focus,.btn:active{
    box-shadow:0 0 0 rgb(155, 25, 25);
    
    
}

.blogs-section{
    word-break: break-word;
    width: 100%;
    padding: 50px 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
}

.blog-image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog-overview{
    margin: 10px 0 20px;
    line-height: 30px;
}

.btn.dark{
    background: #1b1b1b;
    color: #fff;
}

.navbar img{

    width:12%;
    left: 0%;
    padding-left:0%;
    font-size: 100px;
    text-decoration:none;
    

}

    

    



